<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bullet-train-client/lib/index.js"></script>
    <title>Bullet Train with VueJS</title>
</head>
<body>

<div id="app">
    <div v-if="has_loaded">
        <div v-if="instant_messaging">
            You have the instant messaging feature
        </div>
        <div v-else>
            You do not have the feature
        </div>
        <span v-bind:style="{ fontSize: font_size + 'px' }">
            Font size controlled by BulletTrain
        </span>
    </div>
    <div v-else>
        Loading
    </div>
</div>

<script src="/main.js"></script>

</body>
</html>
