name: Publish NPM Package

on:
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  package:
    runs-on: ubuntu-latest
    name: Publish NPM Package

    steps:
      - name: Cloning repo
        uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'

      - run: npm i
      - run: npm run deploy
