name: Publish NPM Package

on:
  push:
    tags:
      - '*'

permissions:
  id-token: write
  contents: read

jobs:
  package:
    runs-on: ubuntu-latest
    name: Publish NPM Package

    steps:
      - name: Cloning repo
        uses: actions/checkout@v5

      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'  # required for trusted publishing

      # npm>=11.5.1 required for NPM trusted publishing
      - run: npm install -g npm@latest
      - run: npm i
      - run: npm run deploy
