name: Publish NPM Package

on:
  push:
    tags:
      - '*'
    branches:
      - ci/use-latest-npm

permissions:
  id-token: write
  contents: read

jobs:
  package:
    runs-on: ubuntu-latest
    name: Publish NPM Package

    steps:
      - name: Cloning repo
        uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          registry-url: 'https://registry.npmjs.org'

      # Ensure npm 11.5.1 or later for trusted publishing
      - run: npm install -g npm@latest
      - run: npm i
      - run: npm run deploy
