name: Pull Requests

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]


jobs:
  package:
    runs-on: ubuntu-latest
    name: Test

    steps:
      - name: Cloning repo
        uses: actions/checkout@v5

       - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - run: npm i
      - run: npm run build
      - run: npm test
